
body{
	margin:0px;
	padding-left: 0px;
	padding-right: 0px;	
	/*background-color: #fff2df;*/
	/*font-family: Monospace;*/
}
.nav-bar{
	max-width: inherit;
	height: 50px;
	background-color: #00000;
	font-family: sans-serif;
	background-color:#ffffff;
	padding: 0px;
}

.nav-bar img{
	float: left;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 11px;
    margin-right: 15px;
}

ul{
	list-style-type: none;
	display: inline;
	float: right;
}
li{
	display: inline-block;
	float: left;
	margin: 0px;
	padding:0px;

}
li a{
	display: block;
	height: inherit;
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
	color: #3b3a30;
	font-size: 1.1vw;
}
li img{
	/*float: left;
	padding-left: 20px;
	padding-top: 20px;
	height: 20px;
	width: 20px;*/
	
}
.crousel
{
	margin:0px;
	padding:0px;
	background-size: cover;
	/*background-color: #009688;*/
	width: inherit;
	height: 500px;
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	
}	
.crousel img{
	min-width: 100%;
	background-size: cover;
	height: inherit;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.aboutus{
	min-width: inherit;
	height: 400px;
	margin: 0px;
	padding: 0px;
}
.hleft{
	display: inline;
	margin-top: 150px;
	margin: 0px;
	float: left;
	width: 35%;
	height: inherit;
	background-color :#EDEDEE;
	
}
.hleft hr{
	display: inline;
	float: left;
	background-color: #FEE600;
	border: 0px;
	margin-top: 8px;
	margin-bottom: 222px;
    margin-left: 100px;
    height: 5px;
    width: 50px;
}
.hleft p{
	font-size: 3.2vw;
	margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    display: block;
    padding-left: 100px;
    padding-top: 120px;
    padding-right: 180px;
    color: #212121;
    padding-bottom: 0px;
}

.pright{
	float: left;
	margin: 0px;
	display: inline;
	width: 65%;
	height: inherit;
	background-color:#EDEDEE;
	/*text-align: center;*/


}
.pright p{
	font-size: 0.9em;
	margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 147px;
    margin-right: 122px;
    font-family: sans-serif;
    color: #616161;
    text-align: justify;
    line-height: 160%;
}

.expertise{
	width: 100%;
	height: 450px;
	background-color: #ffffff;
	margin:0px;
	padding: 0px;
}
.exleft p{
	font-size: 3.1em;
	margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    display: block;
    padding-left: 100px;
    padding-top: 120px;
    padding-right: 45px;
    padding-bottom: 0px;
}
.exleft hr{
	display: inline;
	float: left;
	background-color: #ffeb3b;
	border: 0px;
	margin-top: 8px;
	margin-bottom: 222px;
    margin-left: 100px;
    height: 5px;
    width: 50px;
 }
 .exleft{
 	display: inline;
 	float: left;
 	width: 35%;
 	height: inherit;
 }
 .exright{
 	display: inline;
 	float: left;
 	width: 65%;
 	height: inherit;
 }
.exright p{
	font-size: 0.9em;
	margin-top: 205px;
    margin-bottom: 120px;
    margin-left: 147px;
    margin-right: 122px;
    font-family: sans-serif;
    color: #616161;
    text-align: justify;
    line-height: 160%;
}
.gexpert{
	width: 100%;
	height: 300px;
	background-color: #ffffff;
}

.fd p{
	color: #616161;
	font-family: sans-serif;
	text-align: justify;
	margin-left: 80px;
    margin-right: 80px;
    margin-top: 75px;
}
.sd p{
	color: #616161;
	font-family: sans-serif;
	text-align: justify;
	margin-left: 80px;
    margin-right: 80px;
    margin-top: 75px;
}
.td p{
	color: #616161;
	font-family: sans-serif;
	text-align: justify;
	margin-left: 80px;
    margin-right: 80px;
    margin-top: 75px;
}
.fd{
	width: 33.33%;
	height:100%;
	/*background-color: #9ccc65;*/
	display: inline;
	float: left;
	line-height: 20px;
}
.sd{
	width: 33.33%;
	height:100%;
/*	background-color: #9ccc65;*/
	display: inline;
	float: left;
	line-height: 20px;
}
.td{
	width: 33.33%;
	height:100%;
	/*background-color: #9ccc65;*/
	display: inline;
	float: left;
	line-height: 20px;
}
.fd img{
    margin-top: 5px;
    margin-left: 25px;
	width: 40px;
	height: 40px;
	display: inline;
}
.sd img{
    margin-top: 5px;
    margin-left: 25px;
	width: 40px;
	height: 40px;
	display: inline;
}
.td img{
    margin-top: 5px;
    margin-left: 25px;
	width: 40px;
	height: 40px;
	display: inline;
}

.magic{
	width: 100%;
	height: 600px;
	background-color:#EDEDEE;

}
.sideimage{
	width: 40%;
	height: inherit;
	/*background-color: cyan;*/
	float: left;
	overflow: hidden;
}
.sideimage img{
	background-repeat: no-repeat;
	width:100%;
	height: inherit;
}
.sidetext{
	width: 60%;
	height: inherit;
/*	background-color: red;*/
	float: left;
}
.sidetext p{
	font-size: 0.9em;
	margin-top: 120px;
    margin-bottom: 120px;
    font-family: sans-serif;
    color: #616161;
    text-align: justify;
    line-height: 160%;
    margin-left: 100px;
    margin-right: 120px;
}
.sright p{
	font-size: 2.5em;
	margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    display: block;
    padding-left: 100px;
    padding-top: 120px;
    padding-right: 180px;
    color: #616161;
    padding-bottom: 0px;
}
.sright hr{
	display: inline;
	float: left;
	background-color: #ffeb3b;
	border: 0px;
    margin-left: 100px;
    height: 5px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 45px;
 }
.portfolio_header{
	width: 100%;
	height: 300px;
	background-color: #ffffff;
}
.portfolio_body{
	width: 100%;
	height: 650px;
}
.row1{
	width: inherit;
	height: 280px;
	background-color: white;
	padding-top: 5px;
	margin: 0px;
}
.port{
	display: inline;
	position: relative;
	float: left;
	width: 24.20%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	height: 97%;
	background-color: #EDEDEE;
}
.row2{
	width: inherit;
	height: 330px;
	background-color: white;
	padding-bottom: 70px;
	margin: 0px;
}
.heads{
	width: 40%;
	height: inherit;
	float: left;
	display: inline;
}
.heads p{
	font-size: 2.5em;
	margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    display: block;
    padding-left: 100px;
    padding-top: 120px;
    padding-right: 180px;
    color: #616161;
    padding-bottom: 0px;
  	color: #212121;
}
.heads hr{
	display: inline;
	float: left;
	background-color: #ffeb3b;
	border: 0px;
    margin-left: 100px;
    height: 5px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 12px;
}
.lists{
	width: 60%;
	float: right;
	height: inherit;
/*	background-color: cyan;*/
	display: inline;
}
.lists ul{
	    margin-top: 0px;
    padding-top: 140px;
    padding-right: 50px;
}
.lists a{
	font-family: sans-serif;
}
.vm{
	width: 100%;
	height: 100px;
	background-color: #EDEDEE;
	text-align: center;
}
.vm p{
	color: #757575;
	font-family: sans-serif;
	display: inline; 
	overflow: hidden;
	line-height: 6.2em;
}
.bat{
	width: inherit;
	height: 200px;
/*	background-color: #e1bee7;*/

}
.bat p{
	font-size: 0.9em;
    font-family: sans-serif;
    color: #616161;
    text-align: center;
    line-height: 160%;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
}
.banner{
	width: 100%;
	height: 350px;
	background-size: cover;
	background-image: url(images/banner.png);
	background-repeat: no-repeat;
	overflow: cover;
	background-color: #fff176;
}
.counter{
	width: inherit;
	height: 250px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
/*	background-color: red;*/
	margin: 0px;
}
.cntr{
	display: inline;
	float: left;
	width: 25%;
	overflow: hidden;
	height: inherit;
    text-align: center;
    top: 50%;
    bottom: 50%;
}
.cntr p{
	font-size: 10px;
	color: blue;
    font-family: sans-serif;
}

.crousel2
{
	margin:0px;
	padding:0px;
	/*background-color: #009688;*/
	max-width: 100%;
	height: 600px;
	background-size: cover;
	background-position: center;
	/*background-repeat: no-repeat;*/
	
}	
.crousel2 img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.ott{
	width: 100%;
	height: 200px;
	background-color:#ffcdd2;
}
.user_images{
	width: inherit;
	height: 420px;
	margin-right:120px; 
	margin-left:120px;
	overflow: hidden;
	/*background-color: red;*/
}
.user_image img{
	width: 350px;
	height: 475px;
	float: left;
	margin-top: 0px;

}
.alttext{
	height: 200px;
	/*background-color: red;*/
	width: inherit;
	margin-left: 120px;
	margin-right: 120px;
	padding: 0px;
}
.altt{
	width: 33.33%;
	height: inherit;
	float: left;
	text-align: center;
}
.altt p{
	font-family: sans-serif;
}
.price_heads{
	width: inherit;
	height: 250px;
	background-color: #EDEDEE;
	overflow: hidden;
}

.price_heads p{
	font-size: 2.5em;
	margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    display: block;
    padding-left: 140px;
    padding-top: 120px;
    padding-right: 180px;
    color: #616161;
    padding-bottom: 0px;
}
.price_heads hr{
	display: inline;
	float: left;
	background-color: #ffeb3b;
	border: 0px;
    margin-left: 140px;
    height: 5px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 12px;
}
*{
	box-sizing: border-box;
}
.price_body{
	width: inherit;
	height: 450px;
	padding-left: 200px;
	padding-right:170px;
	background-color: #EDEDEE;
}
.p_col{
	width: 28%;
	height: inherit;
	float: left;
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #ffffff;
	padding-top: 10px;
    padding-bottom: 10px;
}
.p_col p{
	font-family: sans-serif;
	margin-top: 25px;
	margin-bottom: 25px;
}
.p_head{
	margin:0px;
	padding: 0px;
}
.price li {
    align-content: center;
    display:block;
    float: left;
    font-family: sans-serif;
  	margin: 0px;
  	padding: 0px;
}
.p_foot
{
	height: 200px;
	width: inherit;
	background-color: #EDEDEE;
}
.contactform{
	height: 700px;
	width: 100%;
}
.txtform{
	float: left;
	display: inline;
	height: inherit;
	width: 60%;
	background-color: white;
}
.form_header{
	width: 100%;
	height: 250px;
	background-color:transparent;
}
.form_header p{
	font-size: 2.5em;
	margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    display: block;
    padding-left: 140px;
    padding-top: 120px;
    padding-right: 180px;
    color: #616161;
    padding-bottom: 0px;
}
.form_header hr{
	display: inline;
	float: left;
	background-color: #ffeb3b;
	border: 0px;
    margin-left: 140px;
    height: 5px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 12px;
}
form
{
	height: 400px;
	width: 450px;
	margin-left: 140px;
	margin-right: 140px;
}
input{
	display: block;
	float: left;
	width: inherit;
	height: 30px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-top: 40px;
	border-bottom: solid #212121;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
}
textarea{
	margin-top: 40px;
	width: inherit;
	height: 150px;
	padding-left: 15px;
	border-bottom: solid #212121;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 4px
}
button{
	margin-top: 10px;
	height: 25px;
	width: 200px;
	display: inline;
	text-align: center;
	font-family: sans-serif;
	background-color: black;
	color: #EEEEEE;
	border: 0px;
}
.map{
	float: right;
	display: inline;
	height: inherit;
	width: 40%;
	padding: 0px;
	margin:0px;
	background-color: #ff80ab;
}
.map img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
.flink{
	height: 400px;
	width:inherit;
	background-color: #212121;
}
.flink img{
	display: block;
	width: 55px;
	height: 95px;
	/*margin: 20px auto 20px auto;*/
	position: relative;
	/*top: 50%;*/
	left: 48%;
	right: auto;
    left: auto;
    margin-left: 615px;
    margin-right: 615px;
    margin-top: 0px;
    padding-top: 40px;
}
.flink hr{
	display: block;
	float: left;
	background-color: #FFD600;
	border: 0px;
    margin-left: 45%;
    height: 2px;
    width: 130px;
    margin-bottom: 15px;
    margin-right: 583px;
    margin-top: 18px;
    margin-left: 583px;
}
.flink p{
	font-family: sans-serif;
	color: #616161;
	font-size:0.8em;
	display: block;
	float: left;
	left: 43%;
}
.footer{
	height: 100px;
	width:initial;
	background-color: #000000;
}
.footer p{
	font-family: sans-serif;
	color: #EEEEEE;
	font-size: 0.8em;
	text-align: center;
	margin: 0px;
	padding-top: 40px;
}